html,body{
    height: 100;
    margin: 0;
}

body
{
    background-image: linear-gradient(to right top, #33f1af,  #11e8d6, #0ef0bf, #0db5ed);
}

#image
{
    width: 70px;
    height: 80px;
}

.login_div
{
    float: none;
}